# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
pip-wheel-metadata/
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.egg
*.log

# Rust
/target/
.cargo/
Cargo.lock

# Additional
*.pie
.env